# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
# assets/js/dist

_posts/2023-12-02-kafka-config-injection.md
_posts/2024-06-10-mybatis-ognl.md
_posts/2024-05-06-k8s-binary-debug.md
_posts/2024-03-25-codeQL.md
_posts/2024-02-03-ftp-ssrf.md
